*{
    /* padding: 0;
    margin: 0; */
    /* box-sizing: border-box; */
    /* border: 1px solid black; */
}
a {
    text-decoration: none;
    color: black;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body{
    background: url('../assets/achtergrond_ergo.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
}

.home {
    height: 100vh;
    scroll-snap-align: start;
}

.home h1{
    position: relative;
    top: 1%;
    text-align: center;
    font-size: 40px;
}

.home h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 15px;
    left: 50%;
    margin-left: -50px;
    background-color: #000;
}

.home_content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.home_content .tekst {
    width: 1000px;
    text-align: center;
}

.home_content .video {
    width: 1000px;
    height: 600px;
}   
.home_content .video iframe {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.home_content .video:hover iframe {
    box-shadow: 0px 0px 20px black;
}

#scroll-down, #scroll-up{
    font-size: 1.3rem;
    padding: 5px;  
    border: 2px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 99999999;
    left: 50%;
    transform: translateX(-50%);
}
/* Container 2 */
#scroll-up{
    top: 106vh;
}
#scroll-down {
    top: 94vh;
}
#slideshow{
    width: 75%;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* Slider */
.slider_page {
    height: 100vh;
    scroll-snap-align: start;
}

.slider-wrapper {
    position: relative;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider div {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    overflow: hidden;
}
.chapter-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

p {
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 2em;
    color: white;
    backdrop-filter: blur(5px);
    text-align: center;
}
.topic {
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.subtitle {
    border-bottom: 3px solid rgba(255,0,0,.8);
}
.hidden {
    display: none;
}
.home p {
    padding: 2em;
    border-radius: 10px;
}
.blur {
    filter: blur(2px);
}
.switches {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 90%;
    justify-content: center;
    transform:  translateY(-50%);
}
.switches button{
    width: 10em;
    height: 4em;
    background-color: lightblue;
    margin: 2em;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    bottom: 1.25rem;
    z-index: 1;
}

.slider-nav a:nth-child(1) {
    width: 0.5rem;
    height: 0.5rem;
    color: #fff;
    transition: opacity ease 250ms;

    position:absolute;
    top:50%;
    left:1%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.slider-nav a:nth-child(2) {
    width: 0.5rem;
    height: 0.5rem;
    color: #fff;
    transition:ease 250ms;

    position:absolute;
    top:50%;
    right:1%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}

.slider-nav a:hover {
    cursor: pointer;
}

@media (max-width: 750px){
    .home_content .video {
        height: 400px;
    }
    
}

